body {
background: #2C2F33;
text-align:center;
}
#main {
	width: 1850px;
	height: 1000px;
	background: #2C2F33; 
	margin: 25px left;
	padding: 20px;
}
img {
	float: right;
	clear: right;	
}
section {
	text-align: left;
}
nav {
	float: left;
	width: 200;
	height: 1000px;
	background: #23272A;
	padding: 20px;
}  
h1 {
	text-align: left;
	font-family: "Linux";
	height: 20px;
	font-size: 24pt;
	color: #ffffff;
}
h2 {
	text-align: left;
	font-family: "Sans Serif";
	height: 10px;
	font-size: 12pt;
	color: #ffffff;
}
hr {
	color: #ffffff;
}
p {
	font-family: "Calibri";
	font-size: 12pt;
	text-align: left; 
	text-indent: 48px;
	color:#ffffff;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #23272A;
	border: 1px solid #23272A;
  }
  
  li a {
	display: block;
	color: rgb(255, 255, 255);
	padding: 8px 16px;
	text-decoration: none;
  }
  
  li {
	text-align: center;
	border-bottom: 1px solid #23272A;
  }
  
  li:last-child {
	border-bottom: none;
  }
  
  li a.active {
	background-color: #04AA6D;
	color: white;
  }
  
  li a:hover:not(.active) {
	background-color: #2C2F33;
	color: white;
  }